<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Talk Rubbish Generator</title>
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="css/bootstrap.css">
  {{!-- google font --}}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  {{!-- local css --}}
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{!-- navbar --}}
  <!-- As a link -->
  <nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="/">幹話產生器</a>
  </nav>

  {{!-- include partial template --}}
  {{{body}}}

  {{!-- js file --}}
  {{!-- fontAwesome --}}
  <script src="https://kit.fontawesome.com/561d4a6657.js"></script>
  {{!-- bootstrap --}}
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>

</html>